body{
    border: 2px solid rgb(93, 93, 218);
    width: 10%;
    height: 200px;
}
section{
    border: 2px dotted blue;
    height: 100%;
    border-bottom: none;
    border-right: none;
    box-sizing: border-box;

}
.box{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.box div{
    display: flex;
    border-radius: 6px;
    border: 1px solid rgb(48, 68, 197);
    background-color: rgb(147, 208, 232);
    width: 70px;
    height: 50px;
    justify-content: center;
    align-items: center;
}
.box div:nth-child(1){
    box-sizing: border-box;
    width: 100%;
    padding-left: 15px;
    justify-content: flex-start;
}
.selected{
    justify-self: center;
    align-self: center;
}