.container{
    display: flex;
    gap: 20px;
    flex-direction: column;
    max-width:600px;

}
.box{
    border: 2px solid black;
}
.red, .blue, .yellow{
    width: 200px;
    height: 100px;
}
.red{
    background-color: red;
}
.blue{
    background-color: rgb(41, 109, 237);
    width: 100%;


}
.yellow{
    background-color: rgb(219, 222, 35);
    width: 100%;

}
#row{
    display: flex;
    gap: 20px;
}