body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: bisque;
    margin-top: 50px;
}
section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 50px; 
    margin: 0 auto;
    width: 100%;
}
.card{
    background-color: rgb(255, 255, 255);
    flex-basis: 30%;

    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}
figure{
    padding: 0px;
    margin: 0px;
}
img {
    max-width: 100%;
    display: block;
    height: auto;
   }
.text{
    margin: 15px;
    border: 1px solid rgb(180, 168, 168);
    border-top: none;
    border-left: none;
    border-right: none;    
    color: gray;
    font-size: 15px;
}
h1{
    color:black;
    padding: 0px;
    margin: 0px;
}
h4{
    margin-top:0px;
    color:brown
}
.button{
    display: flex;
    color:white;
    background-color: brown;
    width: 100px;
    height: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
footer{
    margin: 15px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 15px;
}
footer p{
    margin: 0px;
    color:gray;
}


@media only screen and (max-width: 767px) {

    .card{
        flex-basis:70%;
    }
}



@media only screen and (min-width: 768px) and (max-width: 1024px) {

.card{
    flex-basis: 40%;
}
}