body {
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    align-items: center; /* Wyśrodkowanie poziome */
    min-height: 10vh; /* Pełna wysokość dla wyśrodkowania w pionie */
    text-align: center;
    margin: 0; /* Usuń domyślne marginesy */
}

main {
    width: 80%;
    max-width: 600px; /* Maksymalna szerokość */
    background-color: rgb(139, 199, 232);
    padding: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    height: 400px;
    border-radius: 5px; /* Opcjonalnie zaokrąglij rogi */
}

header{
    display: flex;
    justify-content: center;
    align-self: center;
}

div{
    padding: 10px;

}
.sliders{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

img{
    width: 200px;
    height: 200px;
    border: 3px solid white;
    border-radius: 100%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    object-fit: cover;
    object-position: center;

}
i:hover{
    cursor: pointer;
}

@keyframes slideInLeft {
    from {
        transform: translateX(-30%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(30%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.sliders {
    display: none;
    transition: opacity 0.3s ease;
}

.sliders.active {
    display: flex;
}

.sliders.left {
    animation: slideInLeft 0.5s ease;
}
.sliders.right{
    animation: slideInRight 0.5s ease; 
}
